@import (reference) "./tokens.less";

:global {
  //baby reset
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  //daw baby

  body {
    background-image: linear-gradient(
      45deg,
      #575757 25%,
      #4d4d4d 25%,
      #4d4d4d 50%,
      #575757 50%,
      #575757 75%,
      #4d4d4d 75%,
      #4d4d4d 100%
    );
    background-size: 56.57px 56.57px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: @ui_text_100;
    text-decoration: none;
  }

  h5 {
    margin-top: 0;
    text-align: left;
  }

  #react-mount {
  }
}
