@import (reference) "./tokens.less";

.wrapper {
  display: inline-block;
  margin: auto;
  width: auto;
}

/* simple grid system */
.row {
  display: flex;
  flex: 1;
}

.column {
  flex-direction: column;
  flex: 1;
}

.header {
  background: #333;
  color: #fff;
  padding: 16px 0 12px;
  width: 100%;

  h1 {
    color: #fff;
    margin-left: 16px;
  }
}

h2 {
  margin-bottom: 32px;
}

.data {
  color: #000;
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 12px;
}
.controls {
  list-style-type: none;
  padding: 12px 22px 6px;
  li {
    display: inline-block;
    margin-right: 8px;
  }
}

.modalItems {
  list-style-type: none;
  padding: 16px 0;
  li {
    display: inline-block;
    margin-right: 8px;
  }
}

.stackWrapper {
  border: 1px solid #777;
  margin: 8px;
  padding: 16px 8px 16px 16px;
  position: relative;
}

.colorStack {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
}

.stackItem {
  color: #000;
  margin: 2px;
  vertical-align: top;
  &.invalid {
    background: #ffd5d5;
  }
}

.chipHex {
  display: inline-block;
  color: #000;
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 12px;
  margin-right: 24px;
  padding: 1px;
}

.chip {
  border: 1px solid #777;
  color: #000;
  display: inline-block;
  height: 10px;
  margin-right: 8px;
  padding: 8px;
  position: relative;
  vertical-align: middle;
  width: 10px;
}

.lumtag {
  display: inline-block;
  padding: 0 4px;
  text-align: right;
  width: 60px;
}

.colortag {
  display: inline-block;
  padding: 0 4px;
}

.delete {
  border: 1px solid #777;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  float: right;
  padding: 4px 6px;
  position: absolute;
  top: -1px;
  right: -1px;
  &:hover {
    background: #333;
    color: #fff;
  }
}

select {
  background: #ccc;
  border: 1px solid #777;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 6px;
}

input[type="color"] {
  appearance: none;
  float: right;
  height: 32px;
  margin-bottom: 16px;
  width: 30px;
}

.button {
  background: #ccc;
  border: 1px solid #777;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 6px;
  &:hover {
    background: #777;
    color: #fff;
  }
  &.modal {
    float: right;
  }
}

.selectorUI {
  list-style-type: none;
  margin: 0;
  li {
    padding: 4px;
  }
}

.targetColor {
  background-color: #ddd;
  font-size: 16px;
  font-weight: 700;
}
/* Modal Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 98;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWindow {
  background: #fff;
  padding: 10px 20px;
  position: relative;

  // top: 50%; i wanted to try with flex over abs position
  // left: 50%;
  // transform: translate(-50%, -50%);
  // z-index: 99;
}

.modalClose {
  bottom: 102%;
  background: #fff;
  color: #000;

  font-size: 25px;
  font-weight: 700;
  left: 102%;

  line-height: 1.05;
  position: absolute;
  text-decoration: none;
  text-align: center;

  width: 30px;
  height: 30px;
}
