@gr_100: #000;
@gr_80: #292929;
@gr_70: #454545;
@gr_60: #5c5c5c;
@gr_50: #757575;
@gr_30: #a6a6a6;
@gr_20: #cccccc;
@gr_10: #e6e6e6;
@gr_0: #fff;

@cyan_10: #ccecf2;
@cyan_40: #449dac;

@ui_text_100: @gr_100;
@ui_text_50: @gr_50;
@ui_text_30: @gr_30;
@ui_text_0: @gr_0;
@ui_border: @gr_70;
@ui_background_0: @gr_0;
@ui_background_20: @gr_10;
@ui_background_50: @gr_50;
@ui_background_70: @gr_70;

@ui_hover_light: @cyan_10;
@ui_hover_dark: @cyan_40;

// colors

@slate-5: #f2f2f2;
@slate-10: #e3e3e4;
@slate-20: #c7c8ca;
@slate-30: #abacaf;
@slate-40: #8f9195;
@slate-50: #74767b;
@slate-60: #585b5f;
@slate-70: #454649;
@slate-80: #2e2f31;
@slate-90: #171718;

@cerulean-5: #e9eff2;
@cerulean-10: #d4e7f2;
@cerulean-20: #99cae4;
@cerulean-30: #66afd7;
@cerulean-40: #3395ca;
@cerulean-50: #007bbd;
@cerulean-60: #006297;
@cerulean-70: #004971;
@cerulean-80: #00314b;
@cerulean-90: #001825;
