@colorBackground: #fff;
@colorHeader: #020024;
@colorBubbel: #fff;
@colorText: #fff;

@timeline: #020024;
@timelineActive: #fff;

@fontBase: "Maven Pro", sans-serif;
@fontHead: "Russo One", sans-serif;
